<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
{% extends 'food/base.html' %}
<html>
<head>
	<title>Title</title>
</head>
<body>

	{% block body %}
	{% for item in item_list %}
		<div class="row">
			<div class="col-md-3 offset-md-2">
				<img src="{{ item.item_image }}" class="card" height="150px"/>
			</div>
			<div class="col-md-4">
				<h4>{{ item.item_name }}</h4>
				<h5>{{ item.item_desc }}</h5>
				<h6>T{{ item.item_price }}</h6>
				<h6> {{ item.user_name }}</h6>
			</div>
			<div class="col-md-2">
				<a href="{% url 'food:detail' item.id %}" class="btn btn-success "> Detail </a>
				<a href="{% url 'food:update_item' item.id %}" class="btn btn-success "> Update </a>
				<a href="{% url 'food:delete_item' item.id %}" class="btn btn-success btn-lg"> Delete </a>

			</div>
		</div>
	{% endfor %}
	{% endblock %}
</body>
</html>